.core-theme {
          --colour-neutral-10: #f3f5f6;
  --colour-neutral-20: #e4e7eb;
  --colour-neutral-30: #d4d7dc;
  --colour-neutral-40: #b4b9bf;
  --colour-neutral-50: #8e969d;
  --colour-neutral-60: #6f777c;
  --colour-neutral-70: #54585e;
  --colour-neutral-80: #34383b;
  --colour-neutral-90: #0c0c0c;
  --colour-neutral-white: #ffffff;
  --colour-neutral-black: #000000;
  --colour-blue-10: #eaf5fc;
  --colour-blue-20: #c0dff6;
  --colour-blue-30: #98c6ef;
  --colour-blue-40: #72ace8;
  --colour-blue-50: #4e8fe2;
  --colour-blue-60: #2c72db;
  --colour-blue-70: #0954ad;
  --colour-blue-80: #04447f;
  --colour-blue-90: #012f52;
  --colour-green-10: #ebf5ed;
  --colour-green-20: #a1e3b0;
  --colour-green-30: #61d27b;
  --colour-green-40: #31c052;
  --colour-green-50: #0fa432;
  --colour-green-60: #008820;
  --colour-green-70: #006b1a;
  --colour-green-80: #004f13;
  --colour-green-90: #00330d;
  --colour-red-10: #fcf0f0;
  --colour-red-20: #ffc0bf;
  --colour-red-30: #ff8d8b;
  --colour-red-40: #fa5e5b;
  --colour-red-50: #e23c38;
  --colour-red-60: #c32420;
  --colour-red-70: #a01511;
  --colour-red-80: #7a0c08;
  --colour-red-90: #540704;
  --colour-yellow-10: #fcf6e3;
  --colour-yellow-20: #fde195;
  --colour-yellow-30: #fecd48;
  --colour-yellow-40: #ffba00;
  --colour-yellow-50: #dca100;
  --colour-yellow-60: #b88800;
  --colour-yellow-70: #956f00;
  --colour-yellow-80: #725500;
  --colour-yellow-90: #4f3b00;
  --space-4-xsmall: 2;
  --space-3-xsmall: 4;
  --space-2-xsmall: 8;
  --space-xsmall: 12;
  --space-small: 16;
  --space-medium: 24;
  --space-large: 32;
  --space-xlarge: 40;
  --space-2-xlarge: 48;
  --space-3-xlarge: 56;
  --space-4-xlarge: 64;
  --layout-2-xsmall: 16;
  --layout-xsmall: 24;
  --layout-small: 32;
  --layout-medium: 48;
  --layout-large: 64;
  --layout-xlarge: 96;
  --layout-2-xlarge: 160;
  --border-radius-default: 4;
  --border-radius-subtle: 2;
  --border-width-default: 1;
  --border-width-medium: 2;
  --border-width-large: 4;
  --font-family-main: Open Sans;
  --font-family-code: Courier;
  --font-size-2-xsmall: 14;
  --font-size-xsmall: 16;
  --font-size-small: 18;
  --font-size-medium: 20;
  --font-size-large: 24;
  --font-size-xlarge: 32;
  --font-size-2-xlarge: 40;
  --font-weight-bold: Bold;
  --font-weight-semibold: SemiBold;
  --font-weight-regular: Regular;
  --font-lineheight-heading: 120%;
  --font-lineheight-label: 135%;
  --font-lineheight-paragraph-default: 150%;
  --font-lineheight-paragraph-small: 175%;
  --font-letterspacing-neg-2: -1;
  --font-letterspacing-neg-1: -0.5;
  --font-letterspacing-default: 0;
  --font-letterspacing-pos-1: 0.5;
  --font-paragraphspacing-large: 18;
  --font-paragraphspacing-medium: 16;
  --font-paragraphspacing-small: 14;
  --font-paragraph-large-font-family: Open Sans;
  --font-paragraph-large-font-weight: Regular;
  --font-paragraph-large-line-height: 150%;
  --font-paragraph-large-font-size: 20;
  --font-paragraph-large-letter-spacing: 0;
  --font-paragraph-large-paragraph-spacing: 18;
  --font-paragraph-default-font-family: Open Sans;
  --font-paragraph-default-font-weight: Regular;
  --font-paragraph-default-line-height: 150%;
  --font-paragraph-default-font-size: 16;
  --font-paragraph-default-letter-spacing: 0;
  --font-paragraph-default-paragraph-spacing: 16;
  --font-paragraph-small-font-family: Open Sans;
  --font-paragraph-small-font-weight: Regular;
  --font-paragraph-small-line-height: 175%;
  --font-paragraph-small-font-size: 14;
  --font-paragraph-small-letter-spacing: 0;
  --font-paragraph-small-paragraph-spacing: 14;
  --font-heading-display-font-family: Open Sans;
  --font-heading-display-font-weight: Bold;
  --font-heading-display-line-height: 120%;
  --font-heading-display-font-size: 40;
  --font-heading-display-letter-spacing: -1;
  --font-heading-display-paragraph-spacing: 0;
  --font-heading-xlarge-font-family: Open Sans;
  --font-heading-xlarge-font-weight: SemiBold;
  --font-heading-xlarge-line-height: 120%;
  --font-heading-xlarge-font-size: 32;
  --font-heading-xlarge-letter-spacing: -1;
  --font-heading-xlarge-paragraph-spacing: 0;
  --font-heading-large-font-family: Open Sans;
  --font-heading-large-font-weight: SemiBold;
  --font-heading-large-line-height: 120%;
  --font-heading-large-font-size: 24;
  --font-heading-large-letter-spacing: -1;
  --font-heading-large-paragraph-spacing: 0;
  --font-heading-medium-font-family: Open Sans;
  --font-heading-medium-font-weight: SemiBold;
  --font-heading-medium-line-height: 120%;
  --font-heading-medium-font-size: 20;
  --font-heading-medium-letter-spacing: -0.5;
  --font-heading-medium-paragraph-spacing: 0;
  --font-heading-small-font-family: Open Sans;
  --font-heading-small-font-weight: SemiBold;
  --font-heading-small-line-height: 120%;
  --font-heading-small-font-size: 18;
  --font-heading-small-letter-spacing: -0.5;
  --font-heading-small-paragraph-spacing: 0;
  --font-heading-xsmall-font-family: Open Sans;
  --font-heading-xsmall-font-weight: SemiBold;
  --font-heading-xsmall-line-height: 120%;
  --font-heading-xsmall-font-size: 14;
  --font-heading-xsmall-letter-spacing: 0.5;
  --font-heading-xsmall-paragraph-spacing: 0;
  --font-label-large-bold-font-family: Open Sans;
  --font-label-large-bold-font-weight: Bold;
  --font-label-large-bold-line-height: 135%;
  --font-label-large-bold-font-size: 16;
  --font-label-large-bold-letter-spacing: 0;
  --font-label-large-bold-paragraph-spacing: 0;
  --font-label-large-semibold-font-family: Open Sans;
  --font-label-large-semibold-font-weight: SemiBold;
  --font-label-large-semibold-line-height: 135%;
  --font-label-large-semibold-font-size: 16;
  --font-label-large-semibold-letter-spacing: 0;
  --font-label-large-semibold-paragraph-spacing: 0;
  --font-label-large-regular-font-family: Open Sans;
  --font-label-large-regular-font-weight: Regular;
  --font-label-large-regular-line-height: 135%;
  --font-label-large-regular-font-size: 16;
  --font-label-large-regular-letter-spacing: 0;
  --font-label-large-regular-paragraph-spacing: 0;
  --font-label-normal-bold-font-family: Open Sans;
  --font-label-normal-bold-font-weight: Bold;
  --font-label-normal-bold-line-height: 135%;
  --font-label-normal-bold-font-size: 14;
  --font-label-normal-bold-letter-spacing: 0;
  --font-label-normal-bold-paragraph-spacing: 0;
  --font-label-normal-semibold-font-family: Open Sans;
  --font-label-normal-semibold-font-weight: SemiBold;
  --font-label-normal-semibold-line-height: 135%;
  --font-label-normal-semibold-font-size: 14;
  --font-label-normal-semibold-letter-spacing: 0;
  --font-label-normal-semibold-paragraph-spacing: 0;
  --font-label-normal-regular-font-family: Open Sans;
  --font-label-normal-regular-font-weight: Regular;
  --font-label-normal-regular-line-height: 135%;
  --font-label-normal-regular-font-size: 14;
  --font-label-normal-regular-letter-spacing: 0;
  --font-label-normal-regular-paragraph-spacing: 0;
  --icon-small: 17;
  --icon-medium: 24;
  --opacity-1: 0.1;
  --opacity-5: 0.5;
      }