.dark-theme {
          --theme-content-main: #ffffff;
  --theme-content-secondary: #b4b9bf;
  --theme-content-placeholder: #8e969d;
  --theme-content-disabled: #54585e;
  --theme-content-action: #4e8fe2;
  --theme-content-critical: #fa5e5b;
  --theme-content-on-action: #0c0c0c;
  --theme-content-on-critical: #0c0c0c;
  --theme-content-link-default: #4e8fe2;
  --theme-content-link-hover: #72ace8;
  --theme-content-link-active: #98c6ef;
  --theme-background-main: #000000;
  --theme-background-surface: #0c0c0c;
  --theme-background-highlight: #34383b;
  --theme-background-disabled: #54585e;
  --theme-background-action-default: #4e8fe2;
  --theme-background-action-hover: #72ace8;
  --theme-background-action-active: #98c6ef;
  --theme-background-action-subtle: #04447f;
  --theme-background-critical-default: #fa5e5b;
  --theme-background-critical-hover: #ff8d8b;
  --theme-background-critical-active: #ffc0bf;
  --theme-background-critical-subtle: #7a0c08;
  --theme-background-warning-default: #fecd48;
  --theme-background-warning-subtle: #725500;
  --theme-background-success-default: #61d27b;
  --theme-background-success-subtle: #004f13;
  --theme-background-info-default: #4e8fe2;
  --theme-background-info-subtle: #04447f;
  --theme-background-overlay: #00000080;
  --theme-border-default: #6f777c;
  --theme-border-subtle: #ffffff1a;
  --theme-border-seperator: #34383b;
  --theme-border-input-default: #b4b9bf;
  --theme-border-input-hover: #d4d7dc;
  --theme-border-action-default: #4e8fe2;
  --theme-border-action-hover: #72ace8;
  --theme-border-action-active: #98c6ef;
  --theme-border-critical-default: #fa5e5b;
  --theme-border-critical-hover: #ff8d8b;
  --theme-border-critical-active: #ffc0bf;
  --theme-border-focus: #98c6ef;
      }