.dark-theme {
          --content-main: #ffffff;
  --content-secondary: #b4b9bf;
  --content-placeholder: #8e969d;
  --content-disabled: #54585e;
  --content-action-default: #4e8fe2;
  --content-action-hover: #72ace8;
  --content-action-active: #98c6ef;
  --content-critical-default: #fa5e5b;
  --content-critical-hover: #ff8d8b;
  --content-critical-active: #ffc0bf;
  --content-on-action: #0c0c0c;
  --content-on-critical: #0c0c0c;
  --background-main: #000000;
  --background-surface: #0c0c0c;
  --background-highlight: #34383b;
  --background-disabled: #54585e;
  --background-action-default: #4e8fe2;
  --background-action-hover: #72ace8;
  --background-action-active: #98c6ef;
  --background-action-subtle: #04447f;
  --background-critical-default: #fa5e5b;
  --background-critical-hover: #ff8d8b;
  --background-critical-active: #ffc0bf;
  --background-critical-subtle: #7a0c08;
  --background-warning-default: #fecd48;
  --background-warning-subtle: #725500;
  --background-success-default: #61d27b;
  --background-success-subtle: #004f13;
  --background-info-default: #4e8fe2;
  --background-info-subtle: #04447f;
  --background-overlay: #00000080;
  --border-default: #6f777c;
  --border-subtle: #ffffff1a;
  --border-seperator: #34383b;
  --border-input-default: #b4b9bf;
  --border-input-hover: #d4d7dc;
  --border-action-default: #4e8fe2;
  --border-action-hover: #72ace8;
  --border-action-active: #98c6ef;
  --border-critical-default: #fa5e5b;
  --border-critical-hover: #ff8d8b;
  --border-critical-active: #ffc0bf;
  --border-focus: #98c6ef;
      }