.light-theme {
          --content-main: #0c0c0c;
  --theme-content-secondary: #6f777c;
  --theme-content-placeholder: #8e969d;
  --theme-content-disabled: #b4b9bf;
  --theme-content-action: #2c72db;
  --theme-content-critical: #c32420;
  --theme-content-on-action: #ffffff;
  --theme-content-on-critical: #ffffff;
  --theme-content-link-default: #2c72db;
  --theme-content-link-hover: #0954ad;
  --theme-content-link-active: #04447f;
  --theme-background-main: #f3f5f6;
  --theme-background-surface: #ffffff;
  --theme-background-highlight: #e4e7eb;
  --theme-background-disabled: #b4b9bf;
  --theme-background-action-default: #2c72db;
  --theme-background-action-hover: #0954ad;
  --theme-background-action-active: #04447f;
  --theme-background-action-subtle: #eaf5fc;
  --theme-background-critical-default: #c32420;
  --theme-background-critical-hover: #a01511;
  --theme-background-critical-active: #7a0c08;
  --theme-background-critical-subtle: #fcf0f0;
  --theme-background-warning-default: #dca100;
  --theme-background-warning-subtle: #fcf6e3;
  --theme-background-success-default: #008820;
  --theme-background-success-subtle: #ebf5ed;
  --theme-background-info-default: #2c72db;
  --theme-background-info-subtle: #eaf5fc;
  --theme-background-overlay: #00000080;
  --theme-border-default: #b4b9bf;
  --theme-border-subtle: #0000001a;
  --theme-border-seperator: #f3f5f6;
  --theme-border-input-default: #8e969d;
  --theme-border-input-hover: #6f777c;
  --theme-border-action-default: #2c72db;
  --theme-border-action-hover: #0954ad;
  --theme-border-action-active: #04447f;
  --theme-border-critical-default: #c32420;
  --theme-border-critical-hover: #a01511;
  --theme-border-critical-active: #7a0c08;
  --theme-border-focus: #4e8fe2;
      }