.light-theme {
          --content-main: #0c0c0c;
  --content-secondary: #6f777c;
  --content-placeholder: #8e969d;
  --content-disabled: #b4b9bf;
  --content-action-default: #2c72db;
  --content-action-hover: #0954ad;
  --content-action-active: #04447f;
  --content-critical-default: #c32420;
  --content-critical-hover: #a01511;
  --content-critical-active: #7a0c08;
  --content-on-action: #ffffff;
  --content-on-critical: #ffffff;
  --background-main: #f3f5f6;
  --background-surface: #ffffff;
  --background-highlight: #e4e7eb;
  --background-disabled: #b4b9bf;
  --background-action-default: #2c72db;
  --background-action-hover: #0954ad;
  --background-action-active: #04447f;
  --background-action-subtle: #eaf5fc;
  --background-critical-default: #c32420;
  --background-critical-hover: #a01511;
  --background-critical-active: #7a0c08;
  --background-critical-subtle: #fcf0f0;
  --background-warning-default: #dca100;
  --background-warning-subtle: #fcf6e3;
  --background-success-default: #008820;
  --background-success-subtle: #ebf5ed;
  --background-info-default: #2c72db;
  --background-info-subtle: #eaf5fc;
  --background-overlay: #00000080;
  --border-default: #b4b9bf;
  --border-subtle: #0000001a;
  --border-seperator: #f3f5f6;
  --border-input-default: #8e969d;
  --border-input-hover: #6f777c;
  --border-action-default: #2c72db;
  --border-action-hover: #0954ad;
  --border-action-active: #04447f;
  --border-critical-default: #c32420;
  --border-critical-hover: #a01511;
  --border-critical-active: #7a0c08;
  --border-focus: #4e8fe2;
      }